a {
    position:absolute;
    left: 40%;
    font-size: 1cm;
    padding: 20px;
    Text-align: center;
    color: Green;
}

div{ 
    Text-align: center;
}
@keyframes glowing {
  0% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF0000, 0 0 40px #FF0000, 0 0 50px #FF0000, 0 0 60px #FF0000;
  }
  50% {
  
    text-shadow: none;
  }
  
  
  100% {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #FF0000, 0 0 40px #FF0000, 0 0 50px #FF0000, 0 0 60px #FF0000;
  }
}

h1 {
  animation: glowing 2s infinite;
  Text-align: center;
}




a  {
  font-size: 24px;
  color: #00f;
  animation: glow 1s ease-in-out infinite;
}

@keyframes glow {
  0% {
    text-shadow: 0 0 5px #00f;
  }
  50% {
    text-shadow: 0 0 20px #00f, 0 0 30px #00f;
  }
  100% {
    text-shadow: 0 0 5px #00f;
  }
}
